service imei_transporter /system/bin/imei_transporter
    class main
    oneshot

service kickstart /system/bin/qcks l
    oneshot
    disabled

service qmiproxy /system/bin/qmiproxy
    class main
    user radio
    group radio qcom_diag

service rmt_storage /system/bin/rmt_storage /dev/block/mmcblk0p10 /dev/block/mmcblk0p11 /dev/block/mmcblk0p17
    class emmc
    user root

# Start kickstart if csfb
on property:ro.baseband=csfb
    wait /dev/ttyHSL1
    mkdir /data/qcks 0770 system system
    start kickstart

# set by qcks
on property:dev.modemstartboot=1
    start setmsflagbc
